<ion-header>
        <ion-navbar color="primary">
                <button ion-button menuToggle>
                    <ion-icon name="menu"> </ion-icon>
                </button>
                <ion-title>Elite Schedule</ion-title>
        </ion-navbar>
    <ion-toolbar color="secondary">
      <ion-title>Home</ion-title>
    </ion-toolbar>
</ion-header>
  
<ion-content padding>
    <p>you are not currently following any teams</p>
    <p>first select a tournament, then you can follow teams for your teams page.</p>
    <button ion-button (click)="goToTournaments()">Find Tournaments</button>
</ion-content>
  